/* BODY */
body {
    /*background-color: papayawhip;*/
}

/* TABLE */
table {
    /*background-color: whitesmoke;*/
}

th {
    border-right: 1px solid gray;
}

/* FORM */
form div {
    float: left;
    margin: 0 10px;

}

fieldset {
    display: flex;
    flex-direction: row; /*default*/
    flex-wrap: nowrap; /*default*/
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

fieldset#sort div label {
    margin: 0 20px;
}

legend {
    /*background-color: cornsilk;*/
}

input {

}

input#name + input {
    display:block;
    margin: 20px auto;
}

div.flex {
    display:flex;
    flex-direction: column;
    text-align:left;
}


