/* BODY */
body {
    /*background-color: papayawhip;*/
    width:95%;
    margin: auto;
}

/* TABLE */
table {
    /*background-color: whitesmoke;*/
}

th {
    border-right: 1px solid gray;
}

/* FORM */
form {
    display: flex;
    flex-flow: row nowrap;
}

fieldset {
    display: flex;
    flex-direction: row; /*default*/
    flex-wrap: nowrap; /*default*/
    flex: 1 1 auto;
    /*gap: 20px;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
}

fieldset#sort {
    flex: 0 1 15%;
}

input#name + input {
    display:block;
    margin: 20px auto;
}

div.flex {
    display:flex;
    flex-direction: column;
    /*text-align:left;*/
    align-items: flex-start;
}

/* Buttons */
div#theme {
    position: fixed;
    top: 30px;
    right: 0;
}

.theme_black {
    background-color: #202020;
    color: lightgray;
}

/* Buttons */
div#theme {
    position: fixed;
    top: 30px;
    right: 0;
}

.theme_black {
    background-color: #202020;
    color: lightgray;
}

div#top {
    background-color: black;
    color: white;
    font-size: 1.2em;
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 50px;
    height: 45px;
    text-align: center;
    align-content: center;
    cursor: default;
}


