/* BODY */
body {
    /*background-color: papayawhip;*/
    width:95%;
    min-width: 1320px;
    margin: auto;
    /*align-content: center;*/
    font-size: 1.2em;
}

/* TABLE */
table {
    /*background-color: whitesmoke;*/
}

table tbody{
    position: sticky;
    top: 155px;
    background-color: white;
    outline: 1px solid gray;
}

/*table tbody tr th:nth-child(even) {*/
/*    background-color:#E5E5E5;*/
/*}*/

th {
    border-right: 1px solid gray;
}

table tr:nth-child(even) {
    background-color: #E5E5E5;
}

/* FORM */
div:has(form) {
    position: sticky;
    top: 0;
}

form {
    display: flex;
    flex-flow: row nowrap;
}

fieldset {
    display: flex;
    flex-direction: row; /*default*/
    flex-wrap: nowrap; /*default*/
    flex: 1 1 auto;
    /*gap: 20px;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
}

fieldset#sort {
    flex: 0 1 15%;
}

input#name + input {
    display:block;
    margin: 20px auto;
}

div.flex {
    display:flex;
    flex-direction: column;
    /*text-align:left;*/
    align-items: flex-start;
}

label:has( + select) {
    text-align: center;
    /*width:100%;*/
    margin:auto;
    /*outline: 1px solid red;*/
}

.sort {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    justify-items:right;
}

/* Buttons */
div#theme {
    position: fixed;
    top: 190px;
    right: 0;
    z-index: 1;
}

.theme_black {
    background-color: #202020;
    color: lightgray;
    table tbody {
        background-color: #202020;
    }

    table tr:nth-child(even) {
        background-color: #333333;
    }
}

div#top {
    background-color: black;
    color: white;
    font-size: 1.2em;
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 50px;
    height: 45px;
    text-align: center;
    align-content: center;
    cursor: default;
}


