/* BODY */
body {
    background-color: floralwhite;
}

/* TABLE */
table {
    /*background-color: white;*/
}

th {
    border-right: 1px solid gray;
}

/* FORM */
form div {
    float: left;
    margin: 0 10px;

}

fieldset {

}

label {

}

input {

}

input#name + input {
    display:block;
    margin: 20px auto;
}

div.flex {
    display:flex;
    flex-direction: column;
    text-align:left;
}


